
<!-- <link rel="stylesheet" href="/styles/main.css"> -->
</style>
<footer>
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-4 my-4">
      <div class="col mb-3 text-center">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <img src="/assets/photos/parakram_logo.png" alt="logo">
        </a>
        <p> Dr D Y Patil Institute of Technology Pimpri, Pune.</p>
        <i class="fa-brands fa-instagram fa-3x"></i>
        <i class="fa-brands fa-linkedin fa-3x"></i>
        <i class="fa-brands fa-github fa-3x"></i>
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3">
        <h5>Indoor Games</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Chess</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Carrom</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Checkers</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Monopoly</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">About</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Outdoor Games</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Cricket</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Football</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Volleyball</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Baseball</a></li>
          <li class="nav-item mb-2"><a href="../sports" class="nav-link p-0">Kabaddi</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Main</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0">About</a></li>
        </ul>
      </div>
    </footer>
    <div class="col mb-5"></div>
    <p class="text-center text-body-secondary" style="font-size: 0.875rem;">© 2025 Your Company. All rights reserved.</p>
  </div>
</footer>
