

<section>
  <div class="legacy-container container mx-auto px-16 border-top border-black">
    <div class="row text-center">
      <div class="col-md-4 py-5">
        <h3 class="font-title font-medium display-4 pb-2" style="font-size: 4rem; font-weight: 650;">
          <div><span>6</span>+</div>
        </h3>
        <p>Events organized</p>
      </div>
      <div class="col-md-4 py-5">
        <h3 class="font-title font-medium display-4 pb-2" style="font-size: 4rem; font-weight: 650;">
          <div><span>29</span>+</div>
        </h3>
        <p>Participants up to now</p>
      </div>
      <div class="col-md-4 py-5">
        <h3 class="font-title font-medium display-4 pb-2" style="font-size: 4rem; font-weight: 650;">
          <div><span>56</span>+</div>
        </h3>
        <p>Members of Parakram</p>
      </div>
    </div>
  </div>
</section>